---
title: Porovnání výsledků zátěžového testu
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: jillre
ms.author: jillfra
manager: jillfra
ms.openlocfilehash: 0fe200f73d8053d3970236c831d3f82ab21dac8e
ms.sourcegitcommit: a8e8f4bd5d508da34bbe9f2d4d9fa94da0539de0
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 10/19/2019
ms.locfileid: "72665213"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Výsledky testů zatížení sestav pro porovnání testů nebo analýzy trendů

Můžete generovat sestavy zátěžového testu v aplikaci Microsoft Excel, které jsou založeny na dvou nebo více výsledcích testů.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

K dispozici jsou dva typy sestav zátěžových testů:

- Sestava Spustit porovnání &mdash;This je ve skutečnosti dvě sestavy, které zobrazují data souběžného porovnání pomocí tabulek a pruhových grafů.

- @No__t_0You trendu může generovat analýzu trendů ve dvou nebo více sestavách. Výsledky se zobrazí ve spojnicových grafech.

Každá sestava se dá použít ke sdílení dat o výkonu se zúčastněnými stranami a vyjadřuje, jestli celkový výkon a stav systému je lepší nebo horší.

Definice sestav jsou uloženy v databázi zátěžového testu. Při uložení sestavy je definice sestavy uložena v databázi a lze ji později znovu použít.

Soubor tabulky se taky může sdílet se zúčastněnými stranami, aby se zúčastněné strany nemuseli připojovat k databázi, aby se zobrazila sestava.

> [!NOTE]
> Pokud přidáte komentáře do zátěžového testu, zobrazí se v sestavě aplikace Excel.

## <a name="tasks"></a>Úkoly

|Úkoly|Přidružená témata|
|-|-|
|**Vytvoření sestavy výkonu a zátěže:** Můžete vytvářet sestavy pro zátěžové a webové testy výkonu pomocí aplikace Microsoft Excel.|- [Postupy: vytváření sestav výkonu zátěžového testu pomocí aplikace Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Ruční vytvoření sestavy výkonu a zátěže pomocí Microsoft Wordu:** Můžete vytvořit sestavy pro testy výkonu zatížení a webu ručně zkopírováním a vložením dat souhrnu, tabulky a grafu do dokumentu aplikace Microsoft Word.|- [Postupy: Ruční vytvoření sestavy výkonu zátěžového testu pomocí Microsoft Wordu](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Viz také:

- [Analyzovat výsledky zátěžového testu](../test/analyze-load-test-results-using-the-load-test-analyzer.md)