---
title: Porovnání výsledků zátěžových zkoušek
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: f85800ea59545ad64a821d1bb8c003ba6eef8c26
ms.sourcegitcommit: cc841df335d1d22d281871fe41e74238d2fc52a6
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 03/18/2020
ms.locfileid: "75589341"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Vykazovat výsledky zatěžovacích testů pro porovnání testů nebo analýzu trendů

Můžete generovat sestavy zátěžových testů aplikace Microsoft Excel, které jsou založeny na dvou nebo více výsledcích testů.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

K dispozici jsou dva typy protokolů zátěžových testů:

- Porovnání&mdash;spuštění Tato sestava je ve skutečnosti dvě sestavy, které zobrazují data porovnání vedle sebe pomocí tabulek a pruhových grafů.

- Trend:&mdash;Analýzu trendů můžete generovat u dvou nebo více sestav. Výsledky se zobrazí ve spojnicových grafech.

Obě sestavy lze použít ke sdílení údajů o výkonu se zúčastněnými stranami a sdělit, zda celkový výkon a stav systému je stále lepší nebo horší.

Definice sestavy jsou uloženy v databázi zátěžového testu. Při uložení sestavy je definice sestavy uložena v databázi a může být znovu použita později.

Soubor tabulky lze také sdílet se zúčastněnými stranami, aby se zúčastněné strany nemusely připojovat k databázi, aby se sestava zoána zoařila.

> [!NOTE]
> Pokud přidáte komentáře k zátěžovému testu, zobrazí se v sestavě aplikace Excel.

## <a name="tasks"></a>Úlohy

|Úlohy|Přidružená témata|
|-|-|
|**Vytvoření sestavy výkonu a napětí:** Pomocí aplikace Microsoft Excel můžete vytvářet sestavy testů zatížení a výkonu webu.|- [Postup: Vytvoření sestav výkonu zátěžového testu pomocí aplikace Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Ručně vytvořte zprávu o výkonu a stresu pomocí aplikace Microsoft Word:** Sestavy testů výkonu načtení a webu můžete vytvořit ručně zkopírováním a vložením souhrnných dat, tabulek a grafů do dokumentu aplikace Microsoft Word.|- [Postup: Ruční vytvoření sestavy výkonu zátěžového testu pomocí aplikace Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Viz také

- [Analýza výsledků zátěžových testů](../test/analyze-load-test-results-using-the-load-test-analyzer.md)
