---
title: Porovnání výsledků zátěžového testu
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.technology: vs-ide-test
ms.openlocfilehash: 7edc5612015d9e0655dfbf00d4db38ba47fb6da9
ms.sourcegitcommit: 708f77071c73c95d212645b00fa943d45d35361b
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 12/07/2018
ms.locfileid: "53066441"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Sestava zátěžové testy s výsledky pro porovnávání testů a analýzu trendů

Můžete generovat sestavy zátěžového testu aplikace Microsoft Excel, které jsou založeny na dvou nebo více výsledcích testu.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

K dispozici jsou dva typy sestav zátěžových testů:

- Spustit porovnání&mdash;této sestavy je ve skutečnosti dvě sestavy, které zobrazují vedle sebe porovnání dat pomocí tabulek a sloupcových grafů.

- Trend&mdash;lze generovat analýzu trendů na dvě nebo více sestav. Výsledky se zobrazí ve spojnicových grafech.

Některá sestava umožňuje sdílení dat o výkonu se zúčastněnými stranami a sdělení, zda celkový výkon a stav systému se zlepšuje nebo zhoršuje.

Definice sestav jsou uloženy v databázi zátěžového testu. Při uložení sestavy definice sestavy je uloženo v databázi a můžete znovu použít později.

Soubor tabulky můžete také sdílet se zúčastněnými stranami, tak, aby zúčastněné strany není potřeba připojení k databázi pro zobrazení sestavy.

> [!NOTE]
> Pokud chcete přidat komentáře k zátěžovému testu, se zobrazí v sestavě aplikace Excel.

## <a name="tasks"></a>Úlohy

|Úlohy|Související témata|
|-|-|
|**Vytvoření sestavy výkonu a zátěže:** můžete vytvořit sestavy na zatížení a webové testy výkonu, pomocí aplikace Microsoft Excel.|- [Postupy: vytvoření sestavy zátěžových testů výkonu pomocí aplikace Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Ruční vytvoření sestavy výkonu a zátěže pomocí aplikace Microsoft Word:** můžete vytvořit sestavy na zatížení a webové testy výkonu ručně zkopírováním a vložením souhrnu, tabulky a data grafu do dokumentu aplikace Microsoft Word.|- [Postupy: ruční vytvoření sestavy výkonu zátěžového testu pomocí aplikace Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Viz také:

- [Analýza výsledků zátěžových testů](../test/analyze-load-test-results-using-the-load-test-analyzer.md)