---
title: 'Postupy: Vytváření vlastních grafů ve výsledcích zátěžového testu'
description: Naučte se navrhovat grafy, které zobrazují konkrétní informace o výsledcích zátěžového testu, při spuštění zátěžového testu nebo po jeho dokončení.
ms.custom: SEO-VS-2020
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jmartens
ms.openlocfilehash: bcef8b73eaf4709e8e636d4719784606019bdcbf
ms.sourcegitcommit: ae6d47b09a439cd0e13180f5e89510e3e347fd47
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 02/08/2021
ms.locfileid: "99937586"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Postupy: vytváření vlastních grafů ve výsledcích zátěžového testu

Můžete navrhovat grafy, které zobrazují konkrétní informace o výsledcích zátěžových testů. Vlastní graf můžete navrhovat zadáním čítačů zátěžového testu, které se zobrazí v grafu.

Následující postup lze provést buď v době, kdy je spuštěn zátěžový test, nebo po jeho dokončení.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Vytvoření vlastního grafu výsledků zátěžového testu

1. Na panelu nástrojů **zátěžový test** vyberte možnost **Přidat nový graf**.

     \- ani

     V **analyzátoru zátěžového testu** klikněte pravým tlačítkem na panel **čítače** nebo v grafu a pak vyberte **přidat graf**.

     Zobrazí se dialogové okno **zadat název grafu** .

2. Do pole **název grafu** zadejte název grafu a klikněte na **tlačítko OK**.

     Nový graf se zobrazí v **analyzátoru zátěžového testu**. Zobrazuje se na panelu aktuálně vybraného grafu; nahrazuje graf, který byl zobrazen na tomto panelu.

3. Přizpůsobte nový graf přidáním čítačů. Další informace najdete v tématu [Postup: Přidání a odstranění čítačů v grafech](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Viz také

- [Analýza výsledků zátěžových testů v zobrazení grafů](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Postupy: přidávání a odstraňování čítačů v grafech](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
