---
title: 'Postupy: Vytváření vlastních grafů ve výsledcích zátěžového testu'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: 10433c63e0bad00d187f79634f74fa3727edc3dc
ms.sourcegitcommit: cc841df335d1d22d281871fe41e74238d2fc52a6
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 03/18/2020
ms.locfileid: "76113294"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Postup: Vytvoření vlastních grafů ve výsledcích zátěžového testu

Můžete navrhnout grafy, které zobrazují konkrétní informace o výsledcích zátěžových testů. Vlastní graf navrhnete zadáním čítačů zátěžového testu, které se zobrazí v grafu.

Můžete provést následující postup buď v době spuštění zátěžového testu, nebo po jeho dokončení.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Vytvoření grafu výsledků vlastních zátěžových testů

1. Na panelu nástrojů **Zátěžový test** zvolte **Přidat nový graf**.

     \-nebo -

     V **analyzátoru zátěžového testu**klepněte pravým tlačítkem myši na panel **Čítače** nebo v grafu a pak vyberte **přidat graf**.

     Zobrazí se dialogové okno **Zadat název grafu.**

2. V části **Název grafu**zadejte název grafu a zvolte **OK**.

     Nový graf se zobrazí v **analyzátoru zátěžového testu**. Zobrazí se v aktuálně vybraném panelu grafu; nahradí graf, který byl zobrazen v tomto panelu.

3. Přizpůsobte nový graf přidáním čítačů. Další informace naleznete v [tématu Jak: Přidání a odstranění čítačů v grafech](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Viz také

- [Analýza výsledků zátěžových testů v zobrazení Grafy](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Postup: Přidání a odstranění čítačů v grafech](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
