---
title: 'Postupy: Vytváření vlastních grafů ve výsledcích zátěžového testu'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: jillre
ms.author: jillfra
manager: jillfra
ms.openlocfilehash: 9012fbea21f552b8057278b37f5d336718c0269f
ms.sourcegitcommit: a8e8f4bd5d508da34bbe9f2d4d9fa94da0539de0
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 10/19/2019
ms.locfileid: "72653570"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Postupy: vytváření vlastních grafů ve výsledcích zátěžového testu

Můžete navrhovat grafy, které zobrazují konkrétní informace o výsledcích zátěžových testů. Vlastní graf můžete navrhovat zadáním čítačů zátěžového testu, které se zobrazí v grafu.

Následující postup lze provést buď v době, kdy je spuštěn zátěžový test, nebo po jeho dokončení.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Vytvoření vlastního grafu výsledků zátěžového testu

1. Na panelu nástrojů **zátěžový test** vyberte možnost **Přidat nový graf**.

     \- nebo-

     V **analyzátoru zátěžového testu**klikněte pravým tlačítkem na panel **čítače** nebo v grafu a pak vyberte **přidat graf**.

     Zobrazí se dialogové okno **zadat název grafu** .

2. Do pole **název grafu**zadejte název grafu a klikněte na **tlačítko OK**.

     Nový graf se zobrazí v **analyzátoru zátěžového testu**. Zobrazuje se na panelu aktuálně vybraného grafu; nahrazuje graf, který byl zobrazen na tomto panelu.

3. Přizpůsobte nový graf přidáním čítačů. Další informace najdete v tématu [Postup: Přidání a odstranění čítačů v grafech](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Viz také:

- [Analýza výsledků zátěžových testů v zobrazení grafů](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Postupy: přidávání a odstraňování čítačů v grafech](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)