---
title: 'Postupy: Vytváření vlastních grafů ve výsledcích zátěžového testu'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: 10433c63e0bad00d187f79634f74fa3727edc3dc
ms.sourcegitcommit: f3f668ecaf11b4c2738ebc91923c6b5e38e74670
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 01/16/2020
ms.locfileid: "76113294"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Postupy: vytváření vlastních grafů v načítání výsledků testu

Můžete navrhovat grafy, které zobrazí konkrétní informace o výsledcích zátěžového testu. Navrhněte vlastní graf tak, že zadáte počítadla testu zatížení, které se zobrazí grafu.

Následující postup můžete provést při spuštění zátěžového testu nebo po jeho dokončení.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>K vytvoření grafu výsledků vlastní zátěžového testu

1. Na **zátěžový Test** nástrojů, zvolte **přidat nový graf**.

     \- nebo –

     Na **Analyzéru zátěžového testu**, klikněte pravým tlačítkem **čítače** panelu nebo v grafu a pak vyberte **přidat graf**.

     **Zadejte název grafu** se zobrazí dialogové okno.

2. V části **název grafu**, zadejte název pro graf a zvolte **OK**.

     Nový graf se zobrazí v **Analyzéru zátěžového testu**. Zobrazí se v panelu aktuálně vybranému grafu. nahradí grafu, který se zobrazí v panelu.

3. Nový graf přizpůsobte tak, že přidáte čítače. Další informace najdete v tématu [postupy: Přidání a odstranění čítačů pro grafy](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Viz také:

- [Analýza výsledků zátěžových testů v zobrazení grafů](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Postupy: Přidání a odstranění čítačů pro grafy](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
